@model Agence.Models.Voiture
@{
    ViewBag.Title = "Saved";
}

<h1>Vehicule enregistré</h1>
@using (Html.BeginForm("See", "Voiture"))
{ 
    <input type="submit" value="Liste vehicules" />
}
@using (Html.BeginForm("SaveV", "Voiture"))
{
    <input type="submit" value="Ajouter voiture" />
}




